:root {
  --primary: #1ec394;
}

body {
  background: #f8f8ff;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.LobbyPage {
  display: grid;
}

.codeBlocks {

}